#header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: black;    
}
body{
    margin: 0;
}
.font{
    height: 63px;
    width: 95px;
}
.headertext{
    color: #fff;
    background-color: black;
    border: 4px solid black;
    text-decoration: none;
    font-size: 14px;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: -4px;
    border-radius: 30px;
    height: 16px;
    width: 76px;
    cursor: pointer;
    padding: 7px 0px;
    text-align: center;
    padding-top: 11px;
}
.headertext:hover{
    background-color: #3c3a44;
}
.lefthead{
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 15%;
}
.righthead{
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 120px;
}
.fa-solid fa-globe{
        color: #fff;
}
.en{
    color: #fff;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium20px;
    text-decoration: none;
    font-weight: 400;
    background-color: black;
    border: 4px solid black;
    border-radius: 30px;
    height: 23px;
    width: 55px;
    padding-top: 6px;
    text-align: center;
}
.en:hover{
    background-color: #3c3a44;
}
.img{
    transform: rotate(-45deg);
}
.signbtn{
    font-size: 15px;
    border: 4px solid #fff;
    border-radius: 30px;
    height: 32px;
    cursor: pointer;
}
.signbtn:hover{
    background-color: #d6d6d8;
    border: 4px solid #d6d6d8;
}
.headerdown{
    width: 1560px;
    padding-left: 15%;
    height: 63px;
    display: flex;
    align-items: normal;
    position: fixed;
    background-color: #fff;
    position: sticky;
}
.headerdown.fixed{
    position: fixed;
    top: 0;
}
.ride{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin-left: 15px;
}
.down{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 636px;
    padding-top: 22px;
    color: #686767;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}
.downtext{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 22px;
    color: #686767;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    padding-left: 11px;
    
}
.downtext:hover{
    color: black;
}
.content{
    padding-left: 16%;
    padding-right: 16%;
    margin-top: 90px;
}
.maincont{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
}
.first{
    margin-left: 5%;
}
.subcontent{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 11px;
    font-size: 17px;
}
.blackbtn{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: black;
    border-width: 0px;
    width: 224px;
    height: 54px;
    font-size: 19px;
    cursor: pointer;
    border: 4px solid black;
    border-radius: 10px;
    margin-top: 10px;       
}
.blackbtn:hover{
    background-color: #1d1d1f;
    border: 4px solid #1d1d1f;
}
.whitbtn{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    background-color: #E2E2E2;
    border-width: 0px;
    width: 224px;
    height: 54px;
    font-size: 19px;
    cursor: pointer;
    border: 4px solid #E2E2E2;
    border-radius: 10px;
    margin-left: 23px;
    margin-top: 10px;
}
.whitbtn:hover{
    background-color: #CBCBCB;
    border: 4px solid #CBCBCB;
}
.video{
    margin-top: 60px; 
    width: 1210px;   
}
.seccont{
    margin-top: 60px;
    margin-left: 60px;
}
.why{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 35px;    
}
.cont2{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.card{
    margin-top: 35px;
    margin-left: 55px;
    display: flex;
    width: 1190px;
    padding-block-end: 140px;
}
.subhead{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.subcont{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #564f4f;
}
.container{
    padding-inline-end: 66px;
}   
.ridecar{
    margin-left: 44px;
    padding-left: 10px;
    display: flex;
    width: 1128px;
    margin-block-end: 190px;
}
.destin{
    width: 570px;
    margin-top: 60px;
}
.pickup{
    width: 364px;
    height: 40px;
    font-size: 18px;
    padding-left: 37px;
    border: 4px solid #E2E2E2;
    border-radius: 10px;
    background-color: #E2E2E2;
    background-image: url(rec.png);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: left;
}
.circle{
    width: 5px;
}
.destinicon{
    width: 4px;
}
.drop{
    width: 364px;
    height: 40px;
    font-size: 18px;
    padding-left: 37px;
    margin-top: 15px;
    border: 4px solid #E2E2E2;
    border-radius: 10px;
    background-color: #E2E2E2;
    background-image: url(square.png);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: left;
    margin-block-end: 40px;
}
.price{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: black;
    border-width: 0px;
    width: 140px;
    height: 50px;
    font-size: 19px;
    cursor: pointer;
    border: 4px solid black;
    border-radius: 10px;
    margin-top: 10px;       
}
.price:hover{
    background-color: #1d1d1f;
    border: 4px solid #1d1d1f;
}
.choose{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 35px;
    font-weight: bold;
}
.carsicon{
    margin-left: 50px;
    margin-block-end: 140px;
}
.req{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 8px;
    text-decoration-color: darkgrey;
}
.req:hover{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 8px;
    text-decoration-color: black;
}
#iconbtn1-4{
    background-color: black;
    color: #fff;
    height: 20px;
    margin-top: 23px;
    border: 4px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: -75px;
    margin-left: 168px;
}
.icontext{
    margin-inline-end: 11px;
    
}
.icons{
    display: flex;
    align-items: center;
}
#iconbtn1-5{
    background-color: black;
    color: #fff;
    height: 20px;
    border: 4px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: -75px;
    margin-left: 198px;
}
#iconbtn1-6{
    background-color: black;
    color: #fff;
    height: 20px;
    border: 4px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: -75px;
    margin-left: 163px;
}
.routs{
    margin-left: 50px;
}
.routlink{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(75, 73, 73);
    font-size: 15px;
    text-decoration: underline;
    text-decoration-color: black;
}
.routlink:hover{
    color: #5b6368;
}
.north{
    margin-top: 45px;
    margin-left: 48px;
    float: left;
    width: 50%;
}
.west{
    padding-left: 10px;
    float: left;
    margin-top: 42px;
}
.south{
    margin-top: 45px;
    margin-left: 48px;
    float: left;
    width: 50%;
}
.east{
    padding-left: 10px;
    float: left;
    margin-top: 42px;
}
footer{
    background-color: black;
    height: 858px;
    margin-top: 910px;
    width: 1489px;
    padding-left: 346px;
}
.footerlogo{
    width: 85px;
    cursor: pointer;
    margin-left: -10px;
    margin-top: 7px;
}
.footercont{
    
    padding-top: 70px;
}
.help{
    color: #fff;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin-top: 15px;
}
.help:hover{
    text-decoration: underline;
    text-underline-offset: 50px;
}
.footerhead{
    color: #fff;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-block-start: 87px;    
}
.footersub{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 15px;
}
.footersub:hover{
    color: #8c8c92;
}
.company{
    display: grid;
    width: 13%;
}
.footercontents{
    display: flex;
    align-items: first baseline;
}
.products{
    display: grid;
    width: 13%;
    margin-left: 100px;
}
.fa-sharp fa-solid fa-times{
    color: #fff;
}
.footericons{
    width: 100%;
    margin-top: 25px;
    height: 62px;
    display: flex;
    align-items: center;
}
.fb{
    height: 16px;
    margin-top: 40px;
    background-color: #52525200;
    border: 10px solid #52525200;
}
.fb:hover{
    background-color: #525252;
    border: 10px solid #525252;
    border-radius: 5px;
}
.twitter{
    margin-left: 90px;
    margin-top: 40px;
    background-color: #52525200;
    border: 10px solid #52525200;
}
.twitter:hover{
    background-color: #525252;
    border: 10px solid #525252;
    border-radius: 5px;
}
.youtube{
    margin-left: 90px;
    margin-top: 40px;
    background-color: #52525200;
    border: 10px solid #52525200;
}
.youtube:hover{
    background-color: #525252;
    border: 10px solid #525252;
    border-radius: 5px;
}
.linkedin{
    margin-left: 90px;
    margin-top: 40px;
    background-color: #52525200;
    border: 10px solid #52525200;
}
.linkedin:hover{
    background-color: #525252;
    border: 10px solid #525252;
    border-radius: 5px;
}
.instagram{
    margin-left: 90px;
    margin-top: 40px;
    background-color: #52525200;
    border: 10px solid #52525200;
}
.instagram:hover{
    background-color: #525252;
    border: 10px solid #525252;
    border-radius: 5px;
}
.english{
    color: #fff;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    padding-top: 37px;
    text-decoration: none;
}
.footerglob{
    margin-inline-end: 10px;
    transform: rotate(-45deg);
}
.bayarea{
    color: #fff;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 145px;
    text-decoration: none;
}
.playstore{
    width: 140px;
}
.app{
    margin-block-start: 63px;
    display: flex;
    align-items: center;
}
.appstore{
    width: 140px;
    height: 42px;
}
.copy{
    color: #bdb6b6;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.last{
    margin-block-start: 65px;
    display: flex;
    align-items: center;
}
.privacy{
    margin-inline-start: 682px;
    font-size: 13px;
    text-decoration: none;
    color: #bdb6b6;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.privacy:hover{
    color: #3c3a44;
}
.accessibility{
    margin-inline-start: 30px;
    font-size: 13px;
    text-decoration: none;
    color: #bdb6b6;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.accessibility:hover{
    color: #3c3a44;
}
.terms{
    margin-inline-start: 30px;
    font-size: 13px;
    text-decoration: none;
    color: #bdb6b6;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.terms:hover{
    color: #3c3a44;
}
.footeren{
    background-color: #52525200;
    border: 10px solid #52525200;
    margin-block-start: 40px;
    margin-left: 270px;
}
.footeren:hover{
    background-color: #525252;
    border: 10px solid #525252;
    border-radius: 5px;
}
.area{
    background-color: #52525200;
    border: 10px solid #52525200;
    margin-block-start: 38px;
    margin-left: 11px;
}
.area:hover{
    background-color: #525252;
    border: 10px solid #525252;
    border-radius: 5px;
}